body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://images.unsplash.com/photo-1614853035986-b230d7d5679c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D );
    background-size: cover;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid;
    cursor: pointer;
    display: block;
    margin-top: 10px;
}

#local-video {
    position: absolute;
    border: 2px solid green;
    height: 250px;
    width: 250px;
    top: 20px;
    right: 20px
}

#remote-video {
    position: absolute;
    border: 2px solid blue;
    height: 350px;
    width: 350px;
    top: 45%;
    right: 20px
}

#status {
    position: absolute;
    bottom: 30px;
    font-size: 20px;
    left: 30px;
}

h3 {
    color: black;
}

#Compilers {
    background-color: lightblue;
    display: inline-block;
    padding-left: 50px;
    padding: 20px;
    border-radius: 8px;
    margin-top: 80px;
}

a {
    text-decoration: none;
    align-items: center;
    color: darkorchid;
    font-family: cursive;
    font-size: large;
}

#Compilers h1 {
    color: black;
    font-family: system-ui;
}

a:hover {
    color: red;
    background-color: black;
}

#logout-btn{
    background-color: red;
}